/*Body*/
body{
  background-color: #C2974F  ;
}
/*Header Style*/
.header{
  background-color: #C25E4F ;
  padding:10px;
  text-align: center;
}
/*Top Nav Style*/
.topnav{
  overflow: hidden;
  background-color: #96C24F ;
}
.topnav a{
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover{
  background-color: gray;
}
/*3 columns next to each other*/
.flex-container{
  display: flex;
}
.flex-container > div{
  margin-top:-15px;
  margin-left: 245px;
  width:185px;
}
